<!-- FORM -->
<div>
  <div class="headmessage">
    <p>Your gift is greatly appreciated! All donations will be used wisely and prudently to help those in need through the power of Home Staging.</p>
  </div>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="form-group">
      <label for="inputFirstName">First Name</label>
      <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" required [(ngModel)]="model.firstName" #firstName="ngModel">
      <small id="requiredFirstName" [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">First Name is a required field.</small>
    </div>
    <div class="form-group">
      <label for="inputLastName">Last Name</label>
      <input type="text" class="form-control" id="inputLastName" name="inputLastName" required [(ngModel)]="model.lastName" #lastName="ngModel">
      <small id="requiredLastName" [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Last Name is a required field.</small>
    </div>
    <div class="form-group">
      <label for="inputemail">Email Address</label>
      <input type="email" class="form-control" id="inputemail" name="inputemail" required [(ngModel)]="model.email" #email="ngModel">
      <small id="requiredemail" [hidden]="email.valid || email.pristine" class="alert alert-danger">Email Address is a required field.</small>
    </div>
    <div class="form-group">
      <label for="inputstreet">Street Address</label>
      <input type="text" class="form-control" id="inputstreet" name="inputstreet" required [(ngModel)]="model.address_street" #street="ngModel">
      <small id="requiredstreet" [hidden]="street.valid || street.pristine" class="alert alert-danger">Street Address is a required field.</small>
    </div>
    <div class="form-group">
      <label for="inputcity">City</label>
      <input type="text" class="form-control" id="inputcity" name="inputcity" required [(ngModel)]="model.address_city" #city="ngModel">
      <small id="requiredcity" [hidden]="city.valid || city.pristine" class="alert alert-danger">City is a required field.</small>
    </div>
    <div class="form-group">
      <label for="inputstate">State / Province</label>
      <input type="text" class="form-control" id="inputstate" name="inputstate" required [(ngModel)]="model.address_state" #state="ngModel">
      <small id="requiredstate" [hidden]="state.valid || state.pristine" class="alert alert-danger">State / Province is a required field.</small>
    </div>
    <div class="form-group">
      <label for="inputzip">Zip / Postal Code</label>
      <input type="text" class="form-control" id="inputzip" name="inputzip" required [(ngModel)]="model.address_zip" #zip="ngModel">
      <small id="requiredzip" [hidden]="zip.valid || zip.pristine" class="alert alert-danger">Zip / Postal Code is a required field.</small>
    </div>
    <!-- Only show on CC -->
    <div class="form-group" [hidden]="formtype != 'cc'">
      <label for="inputphone">Phone</label>
      <input type="tel" class="form-control" id="inputphone" name="inputphone" required [(ngModel)]="model.address_phone" #phone="ngModel">
      <small id="requiredphone" [hidden]="phone.valid || phone.pristine" class="alert alert-danger">Phone is a required field.</small>
    </div>
    <!-- /Only show on CC -->
    <div class="form-group">
      <label for="inputcountry">Country</label>
      <input type="text" class="form-control" id="inputcountry" name="inputcountry" required [(ngModel)]="model.address_country" #country="ngModel">
      <small id="requiredcountry" [hidden]="country.valid || country.pristine" class="alert alert-danger">Country is a required field.</small>
    </div>
    <div class="form-group" [hidden]="formtype == 'gs'">
      <label for="selectChapter">IAHSP Chapter</label>
      <select class="form-control" id="selectChapter" required [(ngModel)]="model.chapter" name="selectChapter" #chapter="ngModel">
        <option *ngFor="let chapter of chapters" [value]="chapter">{{chapter}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputamount">
        <span [hidden]="formtype == 'gs'">Amount</span>
        <span [hidden]="formtype != 'gs'">Estimated Fair Market Value</span>
      </label>
      <input type="number" min="1" class="form-control" id="inputamount" name="inputamount" required [(ngModel)]="model.amount" #amount="ngModel">
      <small id="requiredamount" [hidden]="amount.valid || amount.pristine" class="alert alert-danger">Amount is a required field.</small>
    </div>
    <div class="form-group">
      <label for="inputmessage">
        <span [hidden]="formtype == 'gs'">Message</span>
        <span [hidden]="formtype != 'gs'">Detailed description of the donated item(s)</span>
      </label>
      <textarea class="form-control" id="inputmessage" name="inputmessage" [(ngModel)]="model.message" #message="ngModel"></textarea>
    </div>
    <div class="form-group">
      <re-captcha
        (captchaResponse)="mdCaptchaHandle($event)"
        (captchaExpired)="mdCaptchaExpired()"
        site_key="6Lci7RsUAAAAAPHt32HGEiSlk5sAHBLSL-z2MqN-"
      ></re-captcha>
    </div>
    <div class="form-group">
      <button class="btn btn-iahsp" id="btnSubmit" [disabled]="myForm.invalid || model.googleResponse == null" (click)="mdSend()">Send</button>
    </div>
  </form>
</div>
<!-- /FORM -->
