<!-- Top Bar -->
<header id="topHead" class="color">
  <div class="container">
    <i class="fa fa-phone"></i> &nbsp;<a href="tel:8444247799">844-IAHSP99</a>
    &bull;&nbsp; <i class="fa fa-envelope-o"></i> &nbsp;<a class="hidden-xs" href="mailto:help@iahsp.com">Help@IAHSP.com</a>


    <!-- LINKS -->
    <div class="pull-right nav hidden-xs">
      <a href="https://www.facebook.com/InternationalAssociationofHomeStagingProfessionals/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
      <a href="https://plus.google.com/111999019043473881716" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
      <a href="https://iahspblog.com/blog/" target="_blank"><i class="fa fa-wordpress fa-lg"></i></a>


    </div>
    <!-- /LINKS -->
  </div>
</header>
<!-- /Top Bar -->



<!-- TOP NAV -->
  <header id="topNav" class="topHead"><!-- remove class="topHead" if no topHead used! -->
    <div class="container">

      <!-- Logo text or image -->
      <a class="logo" href="/">
        <img src="{{ strImages }}/logo.jpg" class="" alt="IAHSP" />
      </a>

      <!-- Top Nav -->
      <div class="navbar-collapse nav-main-collapse pull-right">
        <nav class="nav-main mega-menu">
          <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
            <li><a class="toTop" routerLink="/">HOME</a></li>
            <li ><a class="toTop" href="https://pages.iahsp.com/contact/" target="_blank">CONTACT US</a></li>
          </ul>
        </nav>
      </div>
      <!-- /Top Nav -->

    </div>
  </header>
<!-- /TOP NAV -->
