<app-static-modal #modalCC title="{{modalTitle}}">
  <app-form-all formtype="{{currentFormType}}"></app-form-all>
</app-static-modal>
<div class="hero-image"></div>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
  </div>
  <div class="row">
    <div class="col-md order-2">
      <div class="content">
        <p>The <strong>IAHSP Foundation, Inc.</strong> is dedicated to serving those in need in our communities throughout the United States and Canada through the gift and magic of ASP Home Staging.  Our goal is to enrich the lives of those in need around us, whether they are individuals, organizations or institutions.</p>
        <p>With the help of your donations we provide scholarships or sponsorships and work hard to assist those that need us to help them achieve their goals through Home Staging. We Stage<sup>&reg;</sup> their spaces including many times painting, bringing in furniture, de-cluttering, cleaning, and literally doing all we can to improve the environment of those in need and to lift people’s spirits as well.</p>
        <p>The <strong>IAHSP Foundation, Inc.</strong> is dependent upon your tax deductible donations and the hard work of local IAHSP chapters.  Your donations can come in the form of money, or goods and services,  so that we may Stage those that need Home Staging to improve their facility for the good of all who live and dwell there. This includes children’s homes, women’s shelters and a long list of organizations where ASP’s can make a real difference through Staging.</p>
        <p>In the past we have helped many of those in need, including Ronald MacDonald Houses, Foster Care Support Foundations, The House of Ruth, The Margaret House for Women, The Children’s Home Society and  individual homes.</p>
        <p>Thank you for coming to our IAHSP Foundation Donation Site. We thank you for your donations whether large or small for together we can make a real difference and help change in the world. </p>
        <p class="text-center style1">“Think Globally and Act Locally,</p>
        <p class="text-center style1">Together We Can Accomplish Anything!”</p>
        <p>Thank you so very much,</p>
        <p>Barb Schwarz, ASPM<sup>&reg;</sup>, IAHSP<sup>&reg;</sup><br />
        The Creator of Home Staging<sup>&reg;</sup> and the Founder for The IAHSP<sup>&reg;</sup> Foundation and Association and World Wide Staging Service Week<sup>&reg;</sup><br />
        </p>
      </div>
    </div>
    <div class="col-md-5 col-lg-4 order-md-3 order-lg-3">
      <div class="content">
        <!-- Donate by Credit Card  -->
        <h4><strong>Donate by Credit Card</strong></h4>
        <p>Please <a href="https://www.convergepay.com/hosted-payments?ssl_txn_auth_token=d7kxsDlpQXK%2BscEcBc4azgAAAW2yoshz"
        target="_blank" rel="noopener noreferrer">Click Here</a> to donate by Credit Card</p>

        <!-- Donate by Check -->
        <h4><strong>Donate by Check</strong></h4>
        <p>Please send a check to:<br />
        11757 W Ken Caryl Ave., Suite F402<br />
        Littleton, CO 80127<br />
        Pay to the Order of: <strong>IAHSP Foundation</strong></p>
        
        <!-- Donate By Goods/Services -->
        <h4><strong>Donate By Goods/Services</strong></h4>
        <p>Please email me (Jennie@iahsp.com) and let us know what you want to donate to the IAHSP Foundation.</p>
      </div>
    </div>
  </div>
</div>
